{{ define "Endpoints" }}
{{ range . }}
if err := {{ .Group }}.AddEndpoint("{{ .Name }}", micro.HandlerFunc(sw.{{ .OperationID }}), 
micro.WithEndpointSubject("{{ .Subject.Template }}")); err != nil {		
	return nil, err
}{{ end }}
{{ end }}