{{ define "ServiceInterface"}}
type Service interface { {{ range .Endpoints }}
	{{ .OperationID }}(r micro.Request{{range .Handler.Parameters }}, {{ .Name }} {{.DataType}}{{ end }}{{if .Payload.Deserialize}}, {{.Payload.Name}} {{ .Payload.Type}} {{ end}}){{ end }}
}
{{ end }}